In [32]:
import pandas as pd
import geopandas as gdp
import numpy as np
import json
import csv
import argparse
import sys
import os 
import glob

os.chdir("/Users/alim/Documents/GitHub/Team-4-AI-4-Good-lab/datasets/schools-in-nigeria/raw-files/raw-csv-files")

df = pd.read_csv("combined-schools.csv")
df.head(5)

,Unnamed: 0,id,state_code,source,name,ward_code,category,subtype,management,education,poi_type,no_of_teachers,no_of_students,global_id,geometry
0,0,u_fc_poi_school.2,FC,NMIS,LEA Primary School Kudu,FCTABC01,Primary,Primary,Private,Formal,School,NaN,NaN,0001fbc2-8d66-44a2-a64e-3b704c85b032,POINT (7.582548 9.073826)
1,1,u_fc_poi_school.4,OG,NMIS,Superstar Nursery Primary School Igbesa,OGSADO08,Primary,Standard,Private,Formal,School,NaN,NaN,00034738-e55f-4ec5-add0-bc83ce7fc919,POINT (3.1325644 6.5360232)
2,2,u_fc_poi_school.7,LA,GRID,Prime Focus School,LASAMO26,Primary,Standard,Private,Formal,School,NaN,NaN,0005aad7-5275-4ba9-8384-c135c3055275,POINT (3.26119 6.6102)
3,3,u_fc_poi_school.8,PL,NMIS,Excel Private School,PLSBLD15,Primary,Standard,Private,Formal,School,NaN,NaN,0006993c-7c2d-4501-98d9-69b1c3ed8a67,POINT (8.897875000000001 9.546936000000001)
4,4,u_fc_poi_school.9,LA,GRID,Royal Heritage,LASAMO27,Primary,Standard,Private,Formal,School,NaN,NaN,0006ac19-4a0c-4746-8fb1-e074eaef5d03,POINT (3.26229 6.50702)

In [33]:

split_geo = df.geometry.str.strip('POINT (').str.strip(')').str.split(' ')
df['Latitude'] = split_geo.apply(lambda x: x[0])
df['Longitude'] = split_geo.apply(lambda x: x[1])
df.head(2)

,Unnamed: 0,id,state_code,source,name,ward_code,category,subtype,management,education,poi_type,no_of_teachers,no_of_students,global_id,geometry,Latitude,Longitude
0,0,u_fc_poi_school.2,FC,NMIS,LEA Primary School Kudu,FCTABC01,Primary,Primary,Private,Formal,School,NaN,NaN,0001fbc2-8d66-44a2-a64e-3b704c85b032,POINT (7.582548 9.073826),7.582548,9.073826
1,1,u_fc_poi_school.4,OG,NMIS,Superstar Nursery Primary School Igbesa,OGSADO08,Primary,Standard,Private,Formal,School,NaN,NaN,00034738-e55f-4ec5-add0-bc83ce7fc919,POINT (3.1325644 6.5360232),3.1325644,6.5360232

In [34]:
df.to_csv('Schools-with-lat-long.csv', index=False)