In [1]:
import pandas as pd
import geopandas as gdp
import numpy as np
import json
import csv
import argparse
import sys
import os 
import glob

os.chdir("/Users/alim/Documents/GitHub/Team-4-AI-4-Good-lab/datasets/world-bank-data")

df = pd.read_csv("cons_agg_wave3_visit2.csv")
df.head(5)

,country,wave,visit,surveyt,surveyprd,zone,state,lga,ea,rururb,...,fdvegpr,fdbeanpr,fdswtpr,fdbevpr,fdalcpr,fdothpr,edtexp,nfdfoth,totcons,hhweight
0,NGA,3,2,LSMS-ISA2016,2016,4,1,115,670,1,...,0.0,0.0,0.0,0.0,0.0,0.0,9083.333008,9284.722656,189285.296875,11898.657227
1,NGA,3,2,LSMS-ISA2016,2016,4,1,115,670,1,...,0.0,0.0,0.0,0.0,0.0,0.0,13300.000000,30333.332031,479621.875000,11898.657227
2,NGA,3,2,LSMS-ISA2016,2016,4,1,115,670,1,...,0.0,0.0,0.0,0.0,0.0,0.0,30333.333984,11805.556641,243662.796875,11898.657227
3,NGA,3,2,LSMS-ISA2016,2016,4,1,115,670,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,9604.166992,209184.062500,11898.657227
4,NGA,3,2,LSMS-ISA2016,2016,4,1,115,670,1,...,0.0,0.0,0.0,0.0,0.0,0.0,82857.140625,4619.047852,239829.750000,11898.657227

In [3]:
df['state'] = df['state'].replace("1", "Abia")
df.head(3)

,country,wave,visit,surveyt,surveyprd,zone,state,lga,ea,rururb,...,fdvegpr,fdbeanpr,fdswtpr,fdbevpr,fdalcpr,fdothpr,edtexp,nfdfoth,totcons,hhweight
0,NGA,3,2,LSMS-ISA2016,2016,4,1,115,670,1,...,0.0,0.0,0.0,0.0,0.0,0.0,9083.333008,9284.722656,189285.296875,11898.657227
1,NGA,3,2,LSMS-ISA2016,2016,4,1,115,670,1,...,0.0,0.0,0.0,0.0,0.0,0.0,13300.000000,30333.332031,479621.875000,11898.657227
2,NGA,3,2,LSMS-ISA2016,2016,4,1,115,670,1,...,0.0,0.0,0.0,0.0,0.0,0.0,30333.333984,11805.556641,243662.796875,11898.657227

In [ ]:
or i in df['state']:
    if i == "1":
        i.replace("1", "ABIA")
    elif i == 2:
        i = "ADAMAWA"
    elif i ==3:
        i = "AKWA IBOM"
    elif i == 4:
        i = "ANAMBRA"
    elif i == 5:
        i = "BAUCHI"
    elif i == 6:
         i = "BAYELSA"
    elif i == 7:
        i = "BENUE"
    elif i == 8:
        i = "BORNO"
    elif i == 9:
        i = "CROSS RIVER"
    elif i == 10:
        i = "DELTA"
    elif i == 11:
        i = "EBONYI"
    elif i == 12:
        i = "EDO"
    elif i == 13:
        i = "EKITI"
    elif i == 14:
        i = "ENUGU"
    elif i == 15:
        i = "GOMBE"
    elif i == 16:
        i = "IMO"
    elif i == 17:
        i = "JIGAWA"
    elif i == 18:
        i = "KADUNA"
    elif i == 19:
        i = "KANO"
    elif i == 20:
        i = "KATSINA"
    elif i == 21:
        i = "KEBBI"
    elif i == 22:
        i = "KOGI"
    elif i == 23:
        i = "KWARA"
    elif i == 24:
        i = "LAGOS"
    elif i == 25:
        i = "NASARAWA"
    elif i == 26:
        i = "NIGER"
    elif i == 27:
        i = "OGUN"
    elif i == 28:
        i = "ONDO"
    elif i == 29:
        i = "OSUN"
    elif i == 30:
        i = "OYO"
    elif i == 31:
        i = "PLATEAU"
    elif i == 32:
        i = "RIVERS"
    elif i == 33:
        i = "SOKOTO"
    elif i == 34:
        i = "TARABA"
    elif i == 35:
        i = "YOBE"
    elif i == 36:
        i = "ZAMFARA"
    elif i == 37:
        i = "FCT ABUJA"